<div class="cabecalho">
    <h1 class="border-bottom">Cadastro de Colaboradores</h1>
  </div>
  <div class="busca">
    <h5 class="border-bottom">Buscar Colaborador</h5>
  </div>
  <div class="painel-busca">
    <form>
      <div class="form-row">
        <div class="col-auto">
          <label for="nome-colaborador" style="margin-top: 6px;">Nome:</label>
        </div>
        <div class="col-auto">
          <label class="sr-only" for="nome-colaborador">Nome</label>
          <input type="text" class="form-control mb-2" id="nome-colaborador" placeholder="Digite o nome aqui...">
        </div>
        <div class="col-auto">
          <label for="funcao-colaborador" style="margin-top: 6px;">Função:</label>
        </div>
        <div class="col-auto">
          <label class="sr-only" for="funcao-colaborador">Função</label>
          <select 
            id="funcaoColaborador" 
            name="funcaoColaborador"
            class="form-control">
              <option [ngValue]="undefined">Selecione...</option>
              <option value="PEDREIRO">Pedreiro</option>
              <option value="ELETRICISTA">Eletricista</option>
              <option value="VENDEDOR">Vendedor</option>
          </select>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </div>
        <div class="col-auto">
          <button class="btn btn-success mb-2" routerLink="/cadastro/colaboradores/novocolaborador">Novo</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col md-8 mx-auto">
        <app-error-msg></app-error-msg>
        <div class="text-center" *ngIf="!existemColaboradores()">
            Nenhum Colaborador Cadastrado!
        </div>
    </div>
  </div>
  <div class="tabela-cadastro">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Função</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody *ngFor="let colaborador of colaboradores | paginate: {itemsPerPage: contador, currentPage: pag}; let i = index">
        <tr>
          <td>{{colaborador.nomeColaborador}}</td>
          <td>{{colaborador.funcaoColaborador}}</td>
          <td>
            <button type="button" id="btn-editar" class="btn btn-warning btn-sm mr-2 " routerLink="/cadastro/colaboradores/editar/{{colaborador.idColaborador}}">Editar</button>
            <button type="button" id="btn-excluir" class="btn btn-danger btn-sm" (click)="excluir(colaborador.idColaborador)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <pagination-controls (pageChange)="pag = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
    </div>
  </div>
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja excluir o Colaborador?</p>
      <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
    </div>
  </ng-template>
  